AUTH_WEB_SECRET=dev-secret-change-me
AUTH_WEB_DB_HOST=192.168.1.44
AUTH_WEB_DB_PORT=3306
AUTH_WEB_DB_USER=torta
AUTH_WEB_DB_PASSWORD=torta
AUTH_WEB_LOGIN_DB=snapjawrealmd
AUTH_WEB_CHARACTER_DBS=stablecharacters,ptrcharacters
AUTH_WEB_PORT=8080
# AUTH_WEB_BOOTSTRAP_ADMIN_KEY=
